.todo-header {
    font-family: "Roboto Light";
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    margin: 20px 10px;
}

input[type="text"]{
    font-size: 1rem;
    width: 20rem;
    padding: 5px;
    border: 2px solid hsla(0, 0%, 85%, 0.85);
    border-radius: 10px;
}

.todo-add-task-button {
    padding: 5px;
    margin: 0px 10px;
    width:5rem;
    border-radius: 10px;
}

.todo-add-task {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 5px 10em;
}

li {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 20px;
    align-items: center;
}
p {
    font-family: "Times New Roman";
    padding: 0px;
    margin: 0px;
 }


.todo-delete-task-button {
    padding: 2px;
    margin: 0px 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.35);
}

input[type="checkbox"]{
    padding: 5px;
    margin-right: 10px;
}